* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mainDiv {
    min-height: 100vh;
    display: flex;
}

.projectsDiv {
    background-color: #575E9B;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.addPrj {
    display: flex;
}

.displayProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.projectsNameDiv {
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    width: 65%;
    border-radius: 0.6rem;
    justify-content: space-between;
    background-color: #16205E;
}

.projectsNameDiv.clicked {
    cursor: pointer;
    background-color: #6978d3;
    font-size: 1.47rem;
    border-radius: 0.6rem;
    width: 72%;
}

.projectsNameDiv:hover {
    cursor: pointer;
    background-color: #333e86;
    border-radius: 0.6rem;
    width: 67%;
}

.projectsNameDiv.clicked:hover {
    cursor: pointer;
    background-color: #6978d3;
    font-size: 1.47rem;
    border-radius: 0.6rem;
    width: 72%;
}

.todosDiv {
    width: 65%;
    background-color: #363E88;
}

.displayTodos {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.displayTodo {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    width: 75%;
    justify-content: space-between;
}