* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.overlay {
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 10;
}

.overlay.visible {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: visible;
}

.mainDiv {
    min-height: 100vh;
    display: flex;
}

.projectsDiv {
    background-color: #575E9B;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.addProject-popup {
    background-color: #5C6DFF;
    padding: 1.5rem 6rem;
    gap: 2rem;
    border-radius: 0.5rem;
    display: none;
    z-index: 14;
}

.addProject-popup.visible {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addProject-popup input {
    border: none;
    outline-color: transparent;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(221, 221, 221);
}

.addProject-popup h2 {
    align-self: center;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.confirmButton {
    border: none;
    border-radius: 0.2rem;
    padding: 0.4rem 1rem;
    background-color: rgb(68, 193, 68);
}

.cancelButton {
    border: none;
    border-radius: 0.2rem;
    padding: 0.4rem 1rem;
    background-color: rgb(217, 83, 83);
}

.confirmButton:hover,
.cancelButton:hover {
    cursor: pointer;
    filter: brightness(0.7);
}

.displayProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.projectsNameDiv {
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    width: 65%;
    border-radius: 0.6rem;
    justify-content: space-between;
    background-color: #16205E;
}

.projectsNameDiv.clicked {
    cursor: pointer;
    background-color: #6978d3;
    font-size: 1.47rem;
    border-radius: 0.6rem;
    width: 72%;
}

.projectsNameDiv:hover {
    cursor: pointer;
    background-color: #333e86;
    border-radius: 0.6rem;
    width: 67%;
}

.projectsNameDiv.clicked:hover {
    cursor: pointer;
    background-color: #6978d3;
    font-size: 1.47rem;
    border-radius: 0.6rem;
    width: 72%;
}

.todosDiv {
    width: 65%;
    background-color: #363E88;
}

.new-project-form {
    background-color: #5C6DFF;
    padding: 1.5rem 6rem;
    gap: 1.5rem;
    border-radius: 0.5rem;
    display: none;
    z-index: 14;
}

.new-project-form.visible {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-project-form>div:not(:last-child) {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.buttonContainerForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.confirmButtonForm {
    border: none;
    border-radius: 0.2rem;
    padding: 0.4rem 1rem;
    background-color: rgb(68, 193, 68);
}

.cancelButtonForm {
    border: none;
    border-radius: 0.2rem;
    padding: 0.4rem 1rem;
    background-color: rgb(217, 83, 83);
}

.confirmButtonForm:hover,
.cancelButtonForm:hover {
    cursor: pointer;
    filter: brightness(0.7);
}

.new-project-form>div>input,
.new-project-form>div>select {
    width: 100%;
    height: 1.6rem;
    border: none;
    outline-color: transparent;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(221, 221, 221);
}

.displayTodos {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.displayTodo {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    width: 75%;
    justify-content: space-between;
}